body{
	overflow:hidden;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
    user-select:none;
}

#GAMECONTENT, #GAMELOBBY, #MAPSELECTION, #HOSTNEWGAME, #ENDGAME, #CONTACT{
	display: none;
}
#GAMECONTENT{
	padding: 0px;
}
#LOADINGOVERLAY{
	width: 100%;
	height: 500px;
}
#loading-background{
	height: 500px;
	overflow: hidden;
}
.fade_in{
	opacity: 0;
	transition: opacity .5s;
}

#HOSTGAMEMAPNAME{
	padding: 0px 25px;
}
@media (max-width:992px){
	#game-options-list{
		padding: 0px 50px;
	}
	#HOSTGAMEPLAYERS{
		padding: 0px 25px 10px 25px;
	}
}

.INFO-DATA{
	display: inline;
	margin: 5px;
}
.INFO-LIST {
    border-bottom: solid 2px #cccc;
    padding: 5px 25px;
}
.INFO-LIST-SUB{
	background-color: #66C7F4CC;
	text-align: center;
	cursor: pointer;
}
.INFO-LIST-SUB:hover{
	background-color: #A7C0CCCC;
}
.inactive{
	background: #696C6D !important;
	cursor: not-allowed !important;
}
.inactive:hover{
	background-color: #696C6D !important;
}

.search-wrapper{
  position: absolute;
  transform: translate(-20px, -5px);
}
.search-container{
  width: 0px;
  height: 50px;
  background: #41484a;
  text-align: center;
  line-height: 45px;
  padding-right: 50px;
  transition: all 0.2s ease;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.search-input{
  border: 0px;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}
.search-container .fa{
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}
.search-container.active{
  width: 95%;
  padding-left: 10%;
  transition: all 0.15s ease;
}
.search-input.active{
  width: 120%;
  padding-left: 5px;
  transition: all 0.10s 0.2s ease;
}
search-input::placeholder {
  color: #fff;
}

#refreshLobby{
	width: 50%;
}
#lobbyContainer{
	/* width: 70%; */
}
#lobbyFrame{
	min-height:400px;
	width: 100%;
}

#logger-container{
	position: fixed;
	width: 60%;
	max-width: 300px;
	left: 3%;
	top: 10%;
	z-index: 100;
	background-color: #ccc0;
	overflow: hidden;
	pointer-events: none;
}
.logger-popup{
	position: relative;
	display: block;
	border: 1px solid black;
	opacity: .95;
	overflow: hidden;
	transition: opacity 0.2s ease-in, transform 0.2s ease-in;
	pointer-events: auto;
}

.copy{
	text-decoration: underline;
	cursor: pointer;
}
.copy:hover{
	text-decoration-color: #66C7F4CC;
}
.copy:active{
	text-decoration-color: #A7C0CCCC;
}

.MAPCHOICE{
	height: 150px;
	margin: 10px;
	background-color: #0005;
}
.MAPCHOICE:hover{
	border-left: 15px solid #48A9A6;
	background-color: #0002;
  cursor: pointer;
}
img.MAPCHOICEIMG{
	width: 50%;
	height: 100%;
}
.MAPCHOICETITLE{
	transform: translate(20%, -140px);
	width: 70%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #f1f1f1cc;
	overflow: hidden;
	border-radius: 4px;
	opacity: .4;
	transition: opacity .5s ease;
}
.MAPCHOICETITLE:hover{
	opacity: 1;
}
#caption{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #f1f1f191;
}
.PREGAMEIMG{
	width: 100%;
	height: 100%;
	padding: 5px;
}

#mySidebar{
	transition: left .4s;
}


#editor-selction-holder{
	min-width: 113px;
}
#editor-slide-up{
	padding: 40px 16px;
	width: 100%;
	max-height: 0px;
	font-weight: bold;
	opacity: 0;
	transition: all .5s ease;
}
.editor-options-list{
	width: 100%;
	padding: 16px 24px;
	margin: 10px 0px;
	background: tan;
	border-bottom: solid 1px grey;
	border-right: solid 1px grey;
}
.editor-slide-open{
	max-height: 160px !important;
	opacity: 1 !important;
	transform: translate(0px, -194px);
}
.editor-margin{
	margin-top: 4px;
}
.editor-border{
	border-radius: 7px;
}
.editor-tile{
	width: 10% !important;
	margin: 0px;
	padding: 0px;
}
.editor-tile-ter{
	max-width: 100%;
}
.editor-tile-img{
	position: absolute;
  max-width: 4%;
  transform: translate(-100%);
}
.editor-selections{
	max-height: 50px;
	min-height: 50px;
	padding: 3px;
}
.editor-selections-img{
	position: relative;
	width: 100%;
	height: 100%;
	left: 50%;
	transform: translate(-50%, 0px);
}
.editor-selected{
	border: 3px solid #ff0;
}
.platform{
	border-radius: 5px;
	background-color: #ccc;
}
.editor-tab{
	width: 24.99999% !important;
	float: left;
}
.editor-third{
	width: 33.33333% !important;
	float: left;
}
.editor-half{
	width: 49.49999% !important;
	float: left;
}


#canvasHolder{
	position:absolute;
	margin:0px;
	width: 100%;
	height: calc(100% - 84px);
	max-width:810px;
	max-height:665px;
	overflow: hidden;
}
.canvas{
	position:absolute;
	padding:0px;
	margin:0px;
}
@media (min-width:601px) {
	.game-center{	/* Center x-axis game elements, when display too wide for full game */
		left: 50% !important;
		transform: translate(-50%, 0px) !important;
	}
}
#overlay{
	background:black;
	color:white;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	z-index:99999;
}

#avatarCanvas{
	position: absolute;
	right: 0px;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	height: 400px;
	min-height: 400px;
	max-height: 400px;

	background: #fffd;
	overflow: hidden;
}
#active-players{
	position: absolute;
	top: 10px;
	width: 90%;
	padding: 5px;
}
.avatar-icon-inline{
	position: relative;
	display: inline;
	margin: 5px;
	top: 10px;
	width: 40%;
}
#active-player-list{
	padding: 0px;
}
.active-game-players{
	position: relative;
	padding: 0px;
	border-bottom: 1px solid #0008;
	transition: left .2s ease-out;
}

#statsCanvas{
	position: absolute;
	padding: 5px;
	bottom: 53px;
	left: 0px;
	height: 155px;
	min-height: 155px;
	max-height: 155px;
	width: 120px;
	min-width: 120px;
	max-width: 120px;

	background: #fffd;
	overflow: hidden;
}

#gameHelpers{
  position: absolute;
  left: 0px;
	bottom: 0px;
  width: 210px;
	box-sizing: unset;
}
.fade_out{
	transition: opacity 1.5s ease;
}

#frames{
	position:absolute;
	bottom:5px;
	left:20px;
	opacity:.7;
	width:80px;
	pointer-events: none;
}
#menuButton{
	position:absolute;
	bottom:70px;
	right:140px;
	width: 40px;
	font-size:80%;
	padding:.5vh 1vw;

	display: none;
}
#endTurn{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 70px;
	max-width: 120px;
	height: 40px;
	max-height: 50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #eeb44f;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}
#endTurn:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
	cursor:pointer;
}

#mainMenu{
	position:absolute;
	top:100px;
	left:100px;
	display:none;
}#gameLogo{
	position:absolute;
	top: 0px;
	left: 110%;
	width: 100%;
	cursor:pointer;
	text-align:right;
}#levelSelect{
	position:relative;
	top:-150px;
	left:-30px;
	display:none;
}.levelIcon{
	position:relative;
	top:50%;
	max-height:100px;
	max-width:100px;
	height:100px;
	width:100px;
	font-size:30px;
	text-decoration:bold;
	overflow:hidden;
	text-align:center;
	border-bottom:1px dotted #000;
}#lvlEditor{
	position:relative;
	top:30px;
	display:none;
}#options{
	position:relative;
	left:-30px;
	display:none;
}#credits{
	position:relative;
	top:80px;
	display:none;
}

*[class^="btn"]{ /* This imageless css button was generated by CSSButtonGenerator.com */
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	width:70%;
	color:#777777;
	font-family:arial;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	text-align:center;
}*[class^="btn"]:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor:pointer;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
